<div class='home'>
	<p>Thanks for checking out my url shortner!</p>
	<p>For more of my coding projects, visit my <a href='https://github.com/dankleiman'>Github</a> or <a href='http://dankleiman.github.io/'>Coding Blog</a>.</p>
</div>
