<h1 class='home'>Shortened Links</h1>

<table class='stats'>
	<thead>
		<tr>
			<th>Short URL</th>
			<th>Original URL</th>
			<th>Clicks</th>
		</tr>
	</thead>
	<tbody>
		<% @links.each do |link| %>
			<tr>
				<td><a href='/links/<%= link.short_url %>'>klei.mn/<%= link.short_url %></a></td>
				<td><%= link.long_url %></td>
				<td><p class='clicks'><%= link.clicks %></p></td>
			</tr>
		<% end %>
	</tbody>
</table>
