<h1 class="home">Shortened Links</h1>

<table class="stats">
  <thead>
    <tr>
      <th>Short URL</th>
      <th>Original URL</th>
      <th>Clicks</th>
    </tr>
  </thead>
  <tbody>
    <%@url_stats.each do |url|%>
    <tr>
        <td>klei.mn/<%=url["short_url"]%></td>
        <td><%=url["long_url"]%></td>
        <td><p class="clicks"><%=url["clicks"]%></p></td>
    </tr>
    <%end%>
  </tbody>
</table>


