<h1>Shortened Links</h1>

<table>
  <thead>
    <tr>
      <th>Original URL</th>
      <th>Short URL</th>
      <th>Clicks</th>
    </tr>
  </thead>
  <tbody>
    <%%>
    <tr>
        <td><<%=team%></a></td>
        <td><%=record[:wins]%></td>
        <td><%=record[:losses]%></td>
    </tr>
    <%end%>
  </tbody>
</table>
